{% extends 'admin/base.html.twig' %}

{% block title %}Edit Colleague{% endblock %}

{% block body %}
    <h1>Edit Colleague</h1>

    {{ include('colleague/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('colleague_index') }}">back to list</a>

    {{ include('colleague/_delete_form.html.twig') }}
{% endblock %}
