<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

		<title>CODDICT Exercise</title>

		<link
		rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/floating-labels/">

		<!-- Bootstrap core CSS -->
		<link
		href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">

		<!-- Custom styles for this template -->
		<link href="https://getbootstrap.com/docs/4.0/examples/floating-labels/floating-labels.css" rel="stylesheet">
	</head>

	<body style="background-color:#f3cdcd">
		<form class="form-signin">
			<div class="text-center mb-4">
				<img class="mb-4" src="https://coddict.com/bundles/coddictwebsite/under-construction/images/temp/logo-footer.png" alt="">
				<h1 class="h3 mb-3 font-weight-normal">Exercise</h1>
				<p>Manage Colleages
					<code>:Perform Crud operation and send greetings</code>
				</p>
                <a href="javascript:void(0)">Works in Command Line as well.</a>
			</div>
            <p>Click below button to visit Manage Colleage Section</p>
			<a class="btn btn-lg btn-success btn-block" href="{{ path('colleague_index') }}">Let's Go</a>
			<hr>
			<a class="btn btn-lg btn-success btn-block" href="{{ asset('/ex.php') }}">Exercise 2</a>
			<p class="mt-5 mb-3 text-muted text-center">&copy; 2017-2018</p>
		</form>
	</body>
</html>
